---
layout: full
title: Welcome
---

<div id="content" class="w-full">

  <div class="w-full md:flex max-w-6xl m-auto p-12 md:p-0">
    <div class="w-full md:w-2/3 md:flex-auto mb-12 md:mb-0">
      <h1 class="text-8xl text-carbon leading-extra-tight mb-4 md:mb-12">Ready to reopen</h1>
      <p class="text-3xl md:text-4xl text-carbon60 leading-tight">Your one-stop shop for all the info about returning to the workplace</p>
    </div>

    <div class="w-full md:w-1/3 md:flex-auto border border-carbon10 p-0 rounded-lg shadow">
      <h3 class="text-carbon p-8 pb-2 text-2xl md:text-4xl">Current status</h3>

      {% for phases_hash in site.data.phases.valueRanges[1].values offset: 1 %}
        {% assign phase_id = phases_hash[1] %}
        {% assign phase_column = phase_id | plus: 2 %}
        {% assign title = site.data.phases.valueRanges[0].values[1][phase_column] %}
        {% assign color = site.data.phases.valueRanges[0].values[2][phase_column] %}

        <a class="border-arctic block border-t-2 pt-8 py-4 px-8 hover:bg-arctic" href="/phases/{{ phases_hash[1] }}">
          <h4 class="tracking-widest text-sm text-carbon60 uppercase font-semibold mb-2">
            <img class="inline mr-2 mb-2" height="22" width="22" style="opacity: 0.75" src="/assets/images/{{ phases_hash[2] }}.svg">
            {{ phases_hash[0] }}
          </h4>

          {% include phase-badge.html id=phase_id color=color css="mb-4" %}
          <span class="ml-2 font-semibold text-carbon">{{ title }}</span>
        </a>
      {% endfor %}
    </div>
  </div>

  <div class="py-24 my-24 px-8 md:px-8 md:mt-24 bg-arctic">
    <div class="max-w-6xl m-auto">
      <h3 class="text-carbon md:text-4xl lg:text-5xl leading-10 lg:leading-13 mb-8">Our phased approach</h3>
      <p>Our return to the office will happen in phases over the next 6–9 months. Each phase has multiple criteria defined, including triggers, timelines, and guidelines.</p>

      {% include phase-bar.html %}
    </div>
  </div>

  <div class="pt-8 max-w-6xl m-auto p-8 md:p-0">
    <p class="tracking-widest text-sm text-carbon40 uppercase font-semibold mb-4">
      Helpful resources
    </p>
    <h3 class="text-carbon md:text-4xl lg:text-5xl leading-10 lg:leading-13 mb-12">
      Get ready to return
    </h3>

    <div class="md:grid grid-cols-4 gap-12 row-gap-24">

      {% for resource in site.data.resources %}
      <div class="text-carbon mb-8 md:mb-0">
        <span class="icon-wrapper flex justify-center items-center rounded-full bg-arctic w-12 h-12 mb-4">
          <img class="relative" height="22" width="22" style="" src="{{ resource.icon }}">
        </span>

        <h4 class="text-lg font-semibold text-carbon mb-2">{{ resource.title }}</h4>
        <p class="text-carbon60 description-text font-normal text-base leading-1.5625">
          {{ resource.content }}
        </p>
        <p class="font-normal text-base mt-4">
          <a href="{{ resource.url }}" target="{{ resource.target }}">
            {{ resource.cta }}
          </a>
        </p>
      </div>
      {% endfor %}

    </div>
  </div>
</div>

<!-- Things to add:
- Guiding principles
- Employee tiers
- Floor layout overlays
- Safety Guidelines
 -->
