---
layout: default
title: Return to the Office
---

<div id="content" class="w-full">

  <div class="w-full flex">
    <div class="w-2/3 flex-auto">
      <h1 class="text-8xl text-brand leading-none mb-4">Ready to Reopen</h1>
      <p class="text-4xl text-carbon60 leading-tight">Your one-stop shop for all the info about returning to the workplace.</p>
    </div>

    <div class="w-1/3 flex-auto border-2 border-carbon20 p-8 rounded-lg">
      <h3>Current status</h3>

      {% for phases_hash in site.data.current_phases.values offset: 1 %}
        {% assign phase_id = phases_hash[1] %}
        {% assign phase_column = phase_id | plus: 2 %}
        {% assign title = site.data.phases.values[1][phase_column] %}
        {% assign color = site.data.phases.values[2][phase_column] %}

        <div class="mt-4 border-arctic border-t-2 mt-6 pt-6">
          <h4 class="text-lg text-carbon">{{ phases_hash[0] }}</h4>
          <a href="/phases/{{ phases_hash[1] }}" style="background-color: {{ color }}" class="rounded-md text-carbon p-2 px-4 align-middle inline-block font-semibold">
            Phase {{ phases_hash[1] }}
          </a>
          <span class="ml-4">{{ title }}</span>
        </div>
      {% endfor %}
    </div>
  </div>

  <div class="border-t-2 border-arctic pt-16 mt-24 md:mt-24">
    <h3>Our phased approach</h3>
    <p>Our return to the office will happen in phases over the next 6–9 months. Each phase has multiple criteria defined, including triggers, timelines, and guidelines.</p>

    {% include phase-bar.html %}
  </div>

  <div class="border-t-2 border-arctic pt-16 mt-24 md:mt-24">
    <h3 class="text-center text-carbon60 uppercase text-2xl tracking-widest mb-8">Helpful resources</h3>

    <div class="flex justify-between space-x-4">

      <div class="flex-1 hover:shadow-lg mb-8 p-6 shadow rounded bg-white border border-solid border-white text-carbon">
        <img src="https://envoy.com/images/covid/phone-icon.svg" alt=" logo" class="mb-4 inline align-baseline" style="height: 40px">
        <h4 class="text-lg text-carbon mb-2">Install Envoy Mobile</h4>
        <p class="text-carbon description-text font-normal text-base leading-1.5625">
          We're using Envoy Protect to conduct daily pre-screening of all employees. Be sure you download the latest version of Envoy's mobile app.
        </p>
        <p class="font-normal text-base">
          <a href="https://apps.apple.com/us/app/envoy-your-workplace-app/id983102576">iPhone</a>
          &middot;
          <a href="https://play.google.com/store/apps/details?id=com.envoy.app">Android</a>
        </p>
      </div>

      <div class="flex-1 hover:shadow-lg mb-8 p-6 ml-8 shadow rounded bg-white border border-solid border-white text-carbon">
        <img src="https://envoy.com/images/products/visitors/icons/24-document-red.svg" alt=" logo" class="mb-4 inline align-baseline" style="height: 40px">
        <h4 class="text-lg text-carbon mb-2">Read the full plan</h4>
        <p class="text-slate description-text font-normal text-base leading-1.5625">
          This document includes our decision-making process, communications copy, floorplan layouts, timelines, and resources.
        </p>
        <p class="font-normal text-base">
          <a href="{{ site.links.planning_doc }}" target="_blank">
            View in Google Docs &rarr;
          </a>
        </p>
      </div>

      <div class="flex-1 hover:shadow-lg mb-8 p-6 ml-8 shadow rounded bg-white border border-solid border-white text-carbon">
        <img src="https://envoy.com/images/products/visitors/icons/24-document-red.svg" alt=" logo" class="mb-4 inline align-baseline" style="height: 40px">
        <h4 class="text-lg text-carbon mb-2">Where do I sit?</h4>
        <p class="text-slate description-text font-normal text-base leading-1.5625">
          To maintain social distance, you might not be able to sit in your old desk. Explore the floor plan to better understand the workstation layout.
        </p>
        <p class="font-normal text-base">
          <a href="{{ site.links.floorplan }}" target="_blank">
            View in Lucidcharts &rarr;
          </a>
        </p>
      </div>

      <div class="flex-1 hover-shadow mb-8 p-6 ml-8 shadow rounded bg-white border border-solid border-white text-carbon">
        <img src="https://envoy.com/images/covid/sparkle-icon.svg" alt=" logo" class="mb-4 inline align-baseline" style="height: 40px">
        <h4 class="text-lg text-carbon mb-2">Get answers</h4>
        <p class="text-slate description-text font-normal text-base leading-1.5625">
          Need more info? Have a question? Want to see the current status of things?
        </p>
        <p class="font-normal text-base space-y-1">
          <a class="block" href="{{ site.links.slack }}">#back-to-the-office</a>
          <a class="block" href="mailto:team-hr@envoy.com">team-hr@envoy.com</a>
          <a class="block" href="{{ site.links.asana }}">Asana project tracker</a>
        </p>
      </div>
    </div>

  </div>

</div>

<!-- Things to add:
- Guiding principles
- Employee tiers
- Floor layout overlays
- Safety Guidelines
 -->
