<div class="mt-8 flex flex-col md:flex-row justify-between md:space-x-4 space-y-4 md:space-y-0">
{% for i in (0..4) %}
  {% assign phase_column = i | plus: 2 %}
  {% assign title = site.data.phases.valueRanges[0].values[1][phase_column] %}
  {% assign color = site.data.phases.valueRanges[0].values[2][phase_column] %}

  <a class="flex-1 m-0 p-4 rounded hover:shadow-lg shadow bg-white" href="/phases/{{ i }}">
    {% include phase-badge.html id=i color=color css="mb-4" %}
    <h3 class="text-lg text-carbon leading-tight">{{ title }}</h3>
    <p class="font-normal text-base self-end">Details</p>
  </a>
{% endfor %}
</div>
